  <div class="top-header">
    <div class="wrapper">
      <div class="top-drop top-drop-language">
        <div class="top-drop-btn">
          <img src="images/language-icon/english-uk.png" tppabs="http://www.halaljourney.com/images/language-icon/english-uk.png" alt="">
          <p>English (UK)</p>
          <i class="fa fa-angle-down"></i>
        </div>
        <div class="top-drop-dropdown">
          <ul>
            <li>
              <img src="images/language-icon/urdu.png" tppabs="http://www.halaljourney.com/images/language-icon/urdu.png" alt="">
              <p>العربية</p>
            </li>
            <li>
              <img src="images/language-icon/bahasa-indonesia.png" tppabs="http://www.halaljourney.com/images/language-icon/bahasa-indonesia.png"
                alt="">
              <p>Bahasa Indonesia</p>
            </li>
            <li>
              <img src="images/language-icon/bahasa-melayu.png" tppabs="http://www.halaljourney.com/images/language-icon/bahasa-melayu.png"
                alt="">
              <p>Bahasa Melayu</p>
            </li>
            <li>
              <img src="images/language-icon/english-uk.png" tppabs="http://www.halaljourney.com/images/language-icon/english-uk.png" alt="">
              <p>English (UK)</p>
            </li>
            <li>
              <img src="images/language-icon/english-usa.png" tppabs="http://www.halaljourney.com/images/language-icon/english-usa.png"
                alt="">
              <p>English (USA)</p>
            </li>
            <li>
              <img src="images/language-icon/francias.png" tppabs="http://www.halaljourney.com/images/language-icon/francias.png" alt="">
              <p>Français</p>
            </li>
            <li>
              <img src="images/language-icon/turkce.png" tppabs="http://www.halaljourney.com/images/language-icon/turkce.png" alt="">
              <p>Türkçe</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="top-drop top-currency">
        <div class="top-drop-btn">
          <p>
            <b>SAR</b>Saudia Arabia Riyal
          </p>
          <i class="fa fa-angle-down"></i>
        </div>
        <div class="top-drop-dropdown">
          <ul>
            <li>
              <p>
                <b>€</b>Euro
              </p>
            </li>
            <li>
              <p>
                <b>IDR</b>Indonesian Rupiah
              </p>
            </li>
            <li>
              <p>
                <b>MYR</b>Malaysian Ringgit
              </p>
            </li>
            <li>
              <p>
                <b>£</b>Pound Sterling
              </p>
            </li>
            <li>
              <p>
                <b>$</b>U.S. Dollar
              </p>
            </li>
            <li>
              <p>
                <b>TL</b>Turkish Lira
              </p>
            </li>
            <li>
              <p>
                <b>SAR</b>Saudi Aabia Riyal
              </p>
            </li>
            <li>
              <p>
                <b>RUB</b>Russian Rouble
              </p>
            </li>
            <li>
              <p>
                <b>AED</b>U.A.E. Dirham
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="top-nav">
        <ul>
          <li>
            <a href="about.php.htm" tppabs="http://www.halaljourney.com/about.php">About HJ</a>
          </li>
          <li>
            <a href="halal-friendly-travel.php.htm" tppabs="http://www.halaljourney.com/halal-friendly-travel.php">Halal-Friendly Travel?</a>
          </li>
          <li>
            <a href="affiliates.php.htm" tppabs="http://www.halaljourney.com/affiliates.php">Affliates</a>
          </li>
          <li>
            <a href="media.php.htm" tppabs="http://www.halaljourney.com/media.php">In Media</a>
          </li>
          <li>
            <a href="coming-soon.html" tppabs="http://www.halaljourney.com/coming-soon.html">HJ Mgazine</a>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
