    <div class="wrapper">
      <a href="index.php.htm" tppabs="http://www.halaljourney.com/index.php" class="logo">
        <img src="images/logo.png" tppabs="http://www.halaljourney.com/images/logo.png" alt="">
      </a>
      <nav>
        <ul>
          <li class="menu-dropdown">Journeys
            <i class="fa fa-angle-down"></i>
            <div class="landing-pop-up navigation-dropdown">
              <div class="landing-pop-col">
                <label>HJ Collections</label>
                <ul>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Luxury</a>
                  </li>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Romance</a>
                  </li>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Family</a>
                  </li>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Rejuvenating</a>
                  </li>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Business</a>
                  </li>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Hotel Only</a>
                  </li>
                </ul>
              </div>
              <div class="landing-pop-col second-col-lnd">
                <label>Journey Types</label>
                <ul>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Luxury Hotels & Resorts</a>
                  </li>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Beach Hotels</a>
                  </li>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Honeymoon </a>
                  </li>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Private Villas</a>
                  </li>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Thermal & Health Spa</a>
                  </li>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Family-Friendy</a>
                  </li>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Snow & Ski</a>
                  </li>
                </ul>
                <ul>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">City Hotels</a>
                  </li>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Activities & Experience</a>
                  </li>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Business Hotels</a>
                  </li>
                  <li>
                    <a href="home.php.htm" tppabs="http://www.halaljourney.com/home.php">Business Retreats</a>
                  </li>
                </ul>
              </div>
              <div class="landing-pop-col last-col-lnd">
                <label>Destinations</label>
                <ul>
                  <li>
                    <a href="search.php-countryName=Bahrain&countryCode=BH&cityCode=329708&checkInDt=31-05-2017&checkOutDt=02-06-2017&adults=1&kids=0&Rooms=1.htm"
                      tppabs="http://www.halaljourney.com/search.php?countryName=Bahrain&countryCode=BH&cityCode=329708&checkInDt=31/05/2017&checkOutDt=02/06/2017&adults=1&kids=0&Rooms=1">Bahrain</a>
                  </li>
                  <li>
                    <a href="search.php-countryName=China&countryCode=CN&cityCode=101642&checkInDt=31-05-2017&checkOutDt=02-06-2017&adults=1&kids=0&Rooms=1.htm"
                      tppabs="http://www.halaljourney.com/search.php?countryName=China&countryCode=CN&cityCode=101642&checkInDt=31/05/2017&checkOutDt=02/06/2017&adults=1&kids=0&Rooms=1">China</a>
                  </li>
                  <li>
                    <a href="search.php-countryName=India&countryCode=IN&cityCode=113226&checkInDt=31-05-2017&checkOutDt=02-06-2017&adults=1&kids=0&Rooms=1.htm"
                      tppabs="http://www.halaljourney.com/search.php?countryName=India&countryCode=IN&cityCode=113226&checkInDt=31/05/2017&checkOutDt=02/06/2017&adults=1&kids=0&Rooms=1">India</a>
                  </li>
                  <li>
                    <a href="search.php-countryName=Turkey&countryCode=TR&cityCode=131870&checkInDt=31-05-2017&checkOutDt=02-06-2017&adults=1&kids=0&Rooms=1.htm"
                      tppabs="http://www.halaljourney.com/search.php?countryName=Turkey&countryCode=TR&cityCode=131870&checkInDt=31/05/2017&checkOutDt=02/06/2017&adults=1&kids=0&Rooms=1">Turkey</a>
                  </li>
                  <li>
                    <a href="search.php-countryName=Malaysia&countryCode=MY&cityCode=138599&checkInDt=31-05-2017&checkOutDt=02-06-2017&adults=1&kids=0&Rooms=1.htm"
                      tppabs="http://www.halaljourney.com/search.php?countryName=Malaysia&countryCode=MY&cityCode=138599&checkInDt=31/05/2017&checkOutDt=02/06/2017&adults=1&kids=0&Rooms=1">Malaysia</a>
                  </li>
                  <li>
                    <a href="search.php-countryName=Indonesia&countryCode=ID&cityCode=144026&checkInDt=31-05-2017&checkOutDt=02-06-2017&adults=1&kids=0&Rooms=1.htm"
                      tppabs="http://www.halaljourney.com/search.php?countryName=Indonesia&countryCode=ID&cityCode=144026&checkInDt=31/05/2017&checkOutDt=02/06/2017&adults=1&kids=0&Rooms=1">Indonesia</a>
                  </li>
                  <li>
                    <a href="search.php-countryName=UK&countryCode=GB&cityCode=117976&checkInDt=31-05-2017&checkOutDt=02-06-2017&adults=1&kids=0&Rooms=1.htm"
                      tppabs="http://www.halaljourney.com/search.php?countryName=UK&countryCode=GB&cityCode=117976&checkInDt=31/05/2017&checkOutDt=02/06/2017&adults=1&kids=0&Rooms=1">UK</a>
                  </li>
                  <li>
                    <a href="search.php-countryName=Saudi Arabia&countryCode=SA&cityCode=273635&checkInDt=31-05-2017&checkOutDt=02-06-2017&adults=1&kids=0&Rooms=1.htm"
                      tppabs="http://www.halaljourney.com/search.php?countryName=Saudi Arabia&countryCode=SA&cityCode=273635&checkInDt=31/05/2017&checkOutDt=02/06/2017&adults=1&kids=0&Rooms=1">Saudi Arabia</a>
                  </li>
                  <li>
                    <a href="search.php-countryName=Spain&countryCode=ES&cityCode=100781&checkInDt=31-05-2017&checkOutDt=02-06-2017&adults=1&kids=0&Rooms=1.htm"
                      tppabs="http://www.halaljourney.com/search.php?countryName=Spain&countryCode=ES&cityCode=100781&checkInDt=31/05/2017&checkOutDt=02/06/2017&adults=1&kids=0&Rooms=1">Spain</a>
                  </li>
                  <li>
                    <a href="search.php-countryName=Switzerland&countryCode=CH&cityCode=166166&checkInDt=31-05-2017&checkOutDt=02-06-2017&adults=1&kids=0&Rooms=1.htm"
                      tppabs="http://www.halaljourney.com/search.php?countryName=Switzerland&countryCode=CH&cityCode=166166&checkInDt=31/05/2017&checkOutDt=02/06/2017&adults=1&kids=0&Rooms=1">Switzerland</a>
                  </li>
                  <li>
                    <a href="search.php-countryName=Qatar&countryCode=QA&cityCode=296929&checkInDt=31-05-2017&checkOutDt=02-06-2017&adults=1&kids=0&Rooms=1.htm"
                      tppabs="http://www.halaljourney.com/search.php?countryName=Qatar&countryCode=QA&cityCode=296929&checkInDt=31/05/2017&checkOutDt=02/06/2017&adults=1&kids=0&Rooms=1">Qatar</a>
                  </li>
                  <li>
                    <a href="search.php-countryName=UAE&countryCode=AE&cityCode=159871&checkInDt=31-05-2017&checkOutDt=02-06-2017&adults=1&kids=0&Rooms=1.htm"
                      tppabs="http://www.halaljourney.com/search.php?countryName=UAE&countryCode=AE&cityCode=159871&checkInDt=31/05/2017&checkOutDt=02/06/2017&adults=1&kids=0&Rooms=1">UAE</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>Destinations
            <i class="fa fa-angle-down"></i>
          </li>
          <li>
            <a href="#" class="discover-btn">Discover</a>
          </li>
        </ul>
      </nav>
      <div class="user-sec">
        <button type="button" name="" value="" data-popup-open="popup-2" class="login-btn">Login</button>
        <button type="button" name="" value="" class="cart-btn">Cart</button>
        <button type="button" name="" value="" data-popup-open="popup-1" class="search-btn"></button>
      </div>
    </div>
